name: Pre-Submit Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  legacy-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Legacy Dependencies
        run: |
          sudo apt-get install libsndfile1
          python -m pip install --upgrade pip
          pip install -r legacy_v1/requirements.txt
          pip install flake8 pytest
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Run Legacy Tests
        # We set the working directory to the legacy root
        working-directory: ./legacy_v1
        run: |
          python -m pytest .
